<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/numPrimos.css">
</head>
<body>
    <div class="context">
        <h1>Datos de alumno</h1>
        <table class="table" style="color: #fff; ">
            <thead>
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Contraseña</th>
                <th scope="col" colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">57221900138</th>
                <td>Saul</td>
                <td>Nava Luciano</td>
                <td>saulnava02@gmail.com</td>
                <td>********</td>
                <td>Eliminar</td>
                <td>Editar</td>
              </tr>
              <tr>
                <th scope="row">57221900139</th>
                <td>Francisco</td>
                <td>Ramirez Matirnez</td>
                <td>nejua109@gmail.com</td>
                <td>********</td>
                <td>Eliminar</td>
                <td>Editar</td>
              </tr>
              <tr>
                <th scope="row"><!--Matricula--></th>
                <td><!--Nombre--></td>
                <td><!--Apellidos--></td>
                <td><!--Correo--></td>
                <td><!--Contrasena--></td>
                <td>Eliminar</td>
                <td>Editar</td>
              </tr>
            </tbody>
          </table>
        <a class="btn btn-primary" href="/contrasena" role="button">Regresar</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../public/js/funciones.js"></script>
    <script src="../public/js/fondo.js"></script>
</body>
</html>